

extends ../layout

block content
    form(method="post", id="user-model-form")
      div
        span Id :
        span &nbsp;
        span= User.id
      div
        span Name :
        span &nbsp;
        span= User.name
      div
          input(type="submit", value="Save")
          a(href='/users') retour